.admin-panel {
  padding: 100px 30px 30px;
  max-width: 1100px;
  margin: 0 auto;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

.admin-panel h1 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--accent-color);
}

.admin-actions {
  text-align: center;
  margin-bottom: 25px;
}

.btn {
  background: var(--gradient);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.4);
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
}

td:nth-child(2) {
  text-transform: capitalize;
}

th {
  color: var(--accent-color);
}

.edit-btn,
.delete-btn {
  border: none;
  background: none;
  color: var(--accent-color);
  cursor: pointer;
  margin-right: 10px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s;
}

.delete-btn:hover {
  color: red;
}

.edit-btn:hover {
  color: limegreen;
}

.login-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}

.login-panel input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid var(--accent-color);
  border-radius: 6px;
  outline: none;
  text-align: center;
}

.login-panel button {
  background: var(--gradient);
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.login-panel button:hover {
  transform: scale(1.05);
}

.logout-btn {
  background: rgba(255, 0, 102, 0.8);
  border: none;
  color: white;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout-btn:hover {
  background: rgba(255, 0, 140, 1);
  transform: scale(1.05);
}

.admin-header {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}
